* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.input-container {
    display: flex;
    height: 50px;
}

.weight-container {
    grid-column: 1 / -1;
}

p {
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    align-self: center;
}

button {
    grid-column: 1 / -1;
    height: 60px;
    border-radius: 10px;
}

.input-desc {
    width: 50%;
    padding: 0px;
    margin: 0px;
}

.input-value {
    width: 50%;
    text-align: center;
    border-radius: 10px;
}


.male, .female {
    margin-top: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 2px lightgray solid;
    border-radius: 9px;
}

.active {
    color: #0d6efd;
    border: 2px #0d6efd solid;
}

p {
    padding: 0;
    margin: 0;
}

.weight-ranges {
    margin: 10px 0;
    font-size: 16px;
}

.weight-text {
    font-weight: bold;
}